.breadcrumbs {
    display: flex;
    list-style-type: none;
    padding: 0;
}
.breadcrumbs li:not(:first-child)::before {
    display: inline-block;
    content: "»";
    margin: 0 8px;
}

.direct-link {
    text-decoration: none;
    font-size: 12px;
}