<!DOCTYPE html>
<html lang="en">

<head>
    {% block Head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - S0G</title>
    <link rel="stylesheet" href="/src/pygments-friendly.css">
    <link rel="stylesheet" href="/src/global.css">
    {% endblock %}
</head>

<body>
    <header>
        <h2><a href="/">Steve0Greatness</a></h2>
        <nav>
            <a href="/blog">Blog</a>
        </nav>
    </header>
    {% block breadcrumbs %}{% endblock %}
    <main>{% block content %}{% endblock %}</main>
    <footer role="group">
        <div class="footer-link-list-holder">
            <span aria-hidden="true" id="footer-label-social-accounts" class="footer-link-list-label">Social Accounts</span>
            <ol class="footer-link-list" aria-labelledby="footer-label-social-accounts">
                <li><a href="https://mastodon.social/@S0G" rel="me">Mastodon</a></li>
                <li><a href="https://youtube.com/@s0g">YouTube</a></li>
            </ol>
        </div>
    </footer>
</body>

</html>
