<!DOCTYPE html>
<html lang="en-us" prefix="og: https://ogp.me/ns#">

<head>
    {% block Head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} - S0G</title>
    <link rel="stylesheet" href="/src/global.css" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Steve0Greatness' Site" />
    {% endblock %}
</head>

<body>
    <header>
        <h2><a href="/">Steve0Greatness</a></h2>
        <nav>
            <a href="/blog">Blog</a>
            <a href="/list/link-tree.html">Link Tree</a>
        </nav>
    </header>
    {% block breadcrumbs %}{% endblock %}
    <main>{% block content %}{% endblock %}</main>
    <footer>
        <div class="footer-link-list-holder" role="group">
            <span aria-hidden="true" id="footer-label-site-details" class="footer-link-list-label">Site Meta</span>
            <ol class="footer-link-list" aria-labelledby="footer-label-site-details">
                <li><a href="https://github.com/Steve0Greatness/steve0greatness.github.io">Github Repository</a></li>
                <li><a href="https://steve0greatness.github.io/extras">Extras Archive</a></li>
            </ol>
        </div>
        <div class="footer-link-list-holder" role="group">
            <span aria-hidden="true" id="footer-label-social-accounts" class="footer-link-list-label">Social Accounts</span>
            <ol class="footer-link-list" aria-labelledby="footer-label-social-accounts">
                <li><a href="https://mastodon.social/@S0G" rel="me">Mastodon</a></li>
                <li><a href="https://youtube.com/@s0g">YouTube</a></li>
                <li><a href="/list/link-tree.html">More...</a></li>
            </ol>
        </div>
    </footer>
</body>

</html>
