<!DOCTYPE html>
<html lang="en-us" prefix="og: https://ogp.me/ns# article: http://ogp.me/ns/article# profile: https://ogp.me/ns/profile#">

<head>
    {% block Head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <style>
        html {
            color-scheme: dark;
        }
    </style>
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Steve0Greatness" />
    <meta property="og:image" content="/OG-Image.png" />
    {% endblock %}
</head>

<body>
    <header>
        <h2><a href="/"><img src="/SteveLogo.webp" height="35" width="215" alt="Steve0Greatness" /></a></h2>
        <nav>
            <a href="/blog">Blog</a>
            <a href="/list/link-tree.html">Link Tree</a>
        </nav>
    </header>
    {% block breadcrumbs %}{% endblock %}
    <main>{% block content %}{% endblock %}</main>
    <footer>
        <div role="group">
            <strong>Navigation</strong>
            <ul>
                <li><a href="/list/website-sources-mirrors.html">Source Code</a></li>
                <li><a href="/extras.html">Extras</a></li>
                <li><a href="/guestbook.html">Guestbook</a></li>
                <li>
                    <details class="inline-details">
                        <summary>Compile Info</summary>
                        <table>
                            <tbody>
                                <tr>
                                    <th>Site Start</th>
                                    <td>{{SiteCompileTime}}</td>
                                </tr>
                                <tr>
                                    <th>Page Start</th>
                                    <td>{{CompileTime}}</td>
                                </tr>
                                <tr>
                                    <th>View Name</th>
                                    <td>{{ViewName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </details>
                </li>
            </ol>
        </div>
        <div role="group">
            <strong>Profiles</strong>
            <ul>
                <li><a href="https://mastodon.social/@S0G" rel="me">Mastodon</a></li>
                <li><a href="https://youtube.com/@s0g">YouTube</a></li>
                <li><a href="/list/link-tree.html">Link-Tree</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>
