{% macro GenerateBreadcrumbs(pages=[]) %}
<nav aria-label="breadcrumbs" aria-roledescription="Site breadcrumb">
	<ol class="breadcrumbs">
    		<li>
        		<a href="/">Index</a>
	    	</li>
    		{% for page in pages %}
	    	<li {% if loop.revindex0 == 0 %}aria-current="location"{% endif %}>
        	{% if loop.revindex0 != 0 %}<a href="{{page['href']}}">{% endif %}
           		{{page["title"]}}
        		{% if loop.revindex0 != 0 %}</a>{% endif %}
    		</li>
    		{% endfor %}
	</ol>
</nav>
{%- endmacro %}
