{% extends "_layout.html" %}
{% block Head %}
{{super()}}
<link rel="alternate" href="/blog/feed.rss" type="application/rss+xml" title="Steve0Greatness' Blog" />
<link rel="alternate" href="/blog/feed.json" type="application/feed+json" title="Steve0Greatness' Blog" />
<link rel="alternate" href="/blog/feed.atom" type="application/atom+xml" title="Steve0Greatness' Blog" />
<link rel="stylesheet" href="/src/blog.css" />
<meta property="og:title" content="Blog index" />
<meta property="og:url" content="https://steve0greatness.github.io/blog/" />
{% endblock %}
{% block title %}Blog Index{% endblock %}
{% from "_macros.html" import GenerateBreadcrumbs %}
{% block breadcrumbs %}{{ GenerateBreadcrumbs([{ "href": "/blog","title": "Blog Index" }]) }}{% endblock %}
{% block content %}
<h1>Blog Posts</h1>
<div role="toolbar" class="toolbar">
    <a href="/blog/feed.rss"><img src="/rss-feed.png" width="16" height="16" alt="RSS Feed"></a>
    <a href="/blog/feed.json"><img src="/JSONFeed.png" width="16" height="16" alt="JSON Feed"></a>
    <a href="/blog/feed.atom"><img src="/Atom-Feed.png" width="16" height="16" alt="Atom Feed"></a>
</div>
<table class="blog-list">
    <tbody>
        {% for post in PostList %}
        <tr class="blog-list-title-and-date">
            <td>
                <a href="/blog/{{post['pathname']}}">{{post["title"]}}</a>
            </td>
            <td>
                <time>{{post["date"]}} PST</time>
            </td>
            <td>
                {% if post["is-draft"] %}<i>Draft</i>{% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function main() {
        if (location.search != "") {
            location = "/blog/" + location.search + ".html"
        }
    }
</script>
{% endblock %}