{% extends "_layout.html" %}
{% block Head %}
{{super()}}
<link rel="alternate" href="/blog/feed.rss" type="application/rss+xml" title="Steve0Greatness' Blog" />
{% endblock %}
{% block title %}Blog Index{% endblock %}
{% from "_macros.html" import GenerateBreadcrumbs %}
{% block breadcrumbs %}{{ GenerateBreadcrumbs([{ "href": "/blog","title": "Blog Index" }]) }}{% endblock %}
{% block content %}
<h1>Blog Posts</h1>
<a href="/blog/feed.rss"><img src="/rss-feed-icon-96-by-96.png" width="16" height="16" alt="RSS Feed"></a>
<table class="blog-list">
    <tbody>
        {% for post in PostList %}
        <tr class="blog-list-title-and-date">
            <td>
                <a href="/blog/{{post['pathname']}}">{{post["title"]}}</a>
            </td>
            <td>
                <time>{{post["date"]}}</time>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}