{% extends "_layout.html" %}
{% block title %}{{ Title }}{% endblock %}
{% block Head %}
{{super()}}
<link rel="stylesheet" href="/src/code-blocks.css" />
<link rel="stylesheet" href="/src/blog.css" />
<link rel="alternate" href="/blog/{{PlaintextPath}}" type="text/plain" title="Post source" />
<meta property="og:title" content="{{ Title }}" />
<meta property="og:type" content="article" />
<meta property="article:published_time" content="{{ OpenGraphDate }}T00:00:00Z" />
<meta property="article:author" content="https://steve0greatness.nekoweb.org/" />
{% if Revised %}<meta property="article:modified_time" content="{{ post["opengraph-update"] }}T00:00:00Z" />{% endif %} 
<meta property="profile:first_name" content="Steve0Greatness" />
<meta property="profile:username" content="Steve0Greatness" />
<meta property="profile:gender" content="male" />
<meta property="og:url" content="https://steve0greatness.nekoweb.org/blog/{{PostPath}}" />
{% endblock %}
{% from "_macros.html" import GenerateBreadcrumbs %}
{% block breadcrumbs %}{{ GenerateBreadcrumbs([{ "href": "/blog","title": "Blog Index" }, {"href": "/blog/" + PostPath, "title": Title}]) }}{% endblock %}
{% block content %}
<h1>{{ Title }}</h1>
<article>
    <header>
        <div role="toolbar" class="toolbar">
            <strong>Share</strong>
            <a href="https://toot.kytta.dev/?text=Take a look at this article by @S0G@mastodon.social: https://steve0greatness.nekoweb.org/blog/{{PostPath}}" title="Share to Mastodon">
                <img src="/toot-kytta-dev-icon.png" width="16" height="16" aria-hidden="true" title="Share to Mastodon" />
            </a>
            <a href="/blog/{{PostPath}}" title="Direct link">
                <img src="/link-icon.png" width="16" height="16" aria-hidden="true" title="Direct link" />
            </a>
            <a href="/blog/{{PlaintextPath}}" title="Markdown source">
                <img src="/md-src.png" width="16" height="16" aria-hidden="true" />
            </a>
        </div>
    <div class="time-stamps">
        <time datetime="{{ OpenGraphDate }}T00:00:00-08:00">{{PostDate}} PST</time>
        {% if Revised %}- <span aria-hidden="true" style="font-style:italic">Revision as of: </span> <time datetime="{{ post["opengraph-update"] }}T00:00:00-08:00" aria-label="Revision">{{Revised}} PST</time>{% endif %}
        {% if IsDraft %}<i>Draft</i>{% endif %}
    </div>
    </header>
    {{ Content }}
</article>
{% endblock %}
