{% extends "_layout.html" %}
{% block Head %}
{{super()}}
<link rel="stylesheet" href="/src/0greatnesswebring.css" defer="defer" />
<meta property="og:title" content="Index" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://steve0greatness.nekoweb.org/" />
<link rel="canonical" href="https://steve0greatness.nekoweb.org" />
{% endblock %}
{% block title %}Homepage{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block content %}
<h1>Deprecated!</h1>
<p>I no longer use GitHub pages to distribute my website. In the future, please go to <a rel="me" href="https://steve0greatness.nekoweb.org/">steve0greatness.nekoweb.org</a>. Also, if you're subscribed to my blog using RSS, update that as well.</p>
<p>All links are kept here for historical purposes.</p>
{% endblock %}
