{% extends "_layout.html" %}
{% block Head %}
{{super()}}
<meta property="og:title" content="Index" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://steve0greatness.github.io/" />
{% endblock %}
{% block title %}Homepage{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block content %}
<h1>Steve0Greatness</h1>
<p>Hey there! I'm <i>Steve0Greatness</i>(<a href="/blog/name.html">About my username</a>). Welcome to my website!</p>
<p>I'm a <i>human being</i> with an interest in full-stack web-dev. I'm also a proponent for <dfn id="floss"><abbr title="Free/Libre Open Source Software">FLOSS</abbr></dfn>. Despite this, I have a really bad hoarding problem, specifically for accounts on random websites I visit once every 5 years; because of this, I have a list of these: <a href="/list/link-tree.html">link tree</a>.</p>
<h2 id="cool-people-projects">Cool People &amp; Projects!</h2>
<div class="ticker-wrapper pauseonhover">
    <div class="ticker cool-people-prj">
        <a href="https://tauon.dev/" target="_blank">
            <img
                src="https://tauon.dev/images/88x31/lily.png"
                alt="Lily"
                title="Lily"
                width="88"
                height="31"
                style="image-rendering: pixelated"
            />
        </a>
        <a href="https://dimden.dev/">
            <img
                src="https://dimden.dev/services/images/88x31.gif"
                width="88"
                height="31"
                alt="dimden"
                title="dimden"
            />
        </a>
        <a href="https://nekoweb.org/">
            <img
                alt="Nekoweb"
                src="https://nekoweb.org/assets/buttons/button5.gif"
                width="88"
                height="31"
            />
        </a>
        <a href="https://districts.nekoweb.org/">
            <img
                alt="Nekoweb Districts"
                src="https://districts.nekoweb.org/img/districts002.png"
                height="31"
                width="88"
            />
        </a>
        <a href="https://gen1x.is-a.dev/">
            <img
                alt="Gen1x/G1nx"
                src="/buttons/Gen1x.webp"
                height="31"
                width="88"
            />
        </a>
        <a href="https://devilmayquake.com">
            <img
                alt="Ultrakill"
                src="/buttons/UltrakillButton.png"
                height="31"
                width="88"
            />
        </a>
    </div>
</div>
<strong>Without a Button</strong>
<p>If you're in here and you do have a button, email me!</p>
<div class="ticker-wrapper pauseonhover ticker-reversed">
    <div class="ticker cool-people-prj-no-bttn">
        <a href="https://andreaborman2.blogspot.com/">
            Andrea Borman
        </a>
    </div>
</div>
{% endblock %}
