{% extends "_layout.html" %}
{% block Head %}
{{super()}}
<meta property="og:title" content="Index" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://steve0greatness.github.io/" />
{% endblock %}
{% block title %}Homepage{% endblock %}
{% block content %}
<h1>Steve0Greatness</h1>
<p>Hey there! I'm <i>Steve0Greatness</i>. Welcome to my website!</p>
<p>As of the current moment in time, there isn't much here. This mostly exists because I am one of those people that thinks that everyone should really have a website.</p>
{% endblock %}
