{% extends "_layout.html" %}
{% block Head %}
{{super()}}
{% endblock %}
{% block title %}Link Tree{% endblock %}
{% block content %}
<h1>Link Tree</h1>
<p>This is a master-list of accounts that I have on many different platforms.</p>
<h2 id="microblogging">Microbloggging</h2>
<ul>
    <li><a href="https://mastodon.social/@S0G">Mastodon</a></li>
    <li><a href="https://bsky.app/profile/steve0greatness.bsky.social">Bluesky</a></li>
    <li><a href="https://www.tumblr.com/steve0greatness">Tumblr</a>(often inactive)</li>
    <li><a href="https://twitter.com/Steve0Greatness">Twitter</a>(often inactive)</li>
    <li><a href="https://wasteof.money/users/steve0greatness">wasteof.money</a>(often inactive)</li>
</ul>
<h2 id="content-hosting">Content/Cloud Hosts</h2>
<ul>
    <li><a href="https://youtube.com/@S0G">YouTube</a></li>
    <li><a href="https://freesound.org/people/Steve0Greatness/">FreeSound</a>(often inactive)</li>
    <li><a href="https://scratch.mit.edu/users/steve0greatness">Scratch</a></li>
    <li><a href="https://snap.berkeley.edu/user?username=steve0greatness">Snap<i>!</i></a>(often inactive)</li>
    <li><a href="https://glitter-graphics.com/users/steve0greatness">Glitter Graphics</a>(often inactive)</li>
    <li><a href="https://filegarden.com/users/655bf52f3ada86485759d5b2/garden/#">FileGarden</a>(often inactive)</li>
    <li><a href="https://glitch.com/@Steve0Greatness">Glitch</a>(often inactive)</li>
    <li><a href="https://www.deviantart.com/steve0greatness">DeviantArt</a>(often inactive)</li>
    <li><a href="https://greasyfork.org/en/users/1185694-steve0greatness">Greasy Fork</a>(often inactive)</li>
    <li><a href="https://userstyles.world/user/Steve0Greatness">UserStyles.world</a>(often inactive)</li>
    <li><a href="https://steve0greatness.imgbb.com/">ImgBB</a>(often inactive)</li>
    <li><a href="https://modshare.futuresight.org/users/Steve0Greatness">Mod Share</a>(often inactive)</li>
    <li><a href="https://pastebin.com/u/S0G">PasteBin</a>(often inactive)</li>
    <li><a href="https://www.pixilart.com/">Pixilart</a>(often inactive)</li>
    <li><a href="https://pixelfed.social/i/web/profile/609142668647996596">Pixelfed</a>(often inactive)</li>
    <li><a href="https://www.twitch.tv/steve0greatness">Twitch</a>(often inactive)</li>
    <li><a href="https://steve0greatness.newgrounds.com/">Newgrounds</a>(often inactive)</li>
</ul>
<h2 id="git-forges">Forges</h2>
<ul>
    <li><a href="https://github.com/steve0greatness">GitHub</a></li>
    <li><a href="https://gitlab.com/Steve0Greatness">GitLab</a></li>
    <li><a href="https://codeberg.org/Steve0Greatness">Codeberg</a>(often inactive)</li>
    <li><a href="https://gitea.com/Steve0Greatness">Gitea</a>(often inactive)</li>
</ul>
<h2 id="gaming">Game Services</h2>
<ul>
    <li><a href="https://steamcommunity.com/id/Steve0Greatness/">Steam</a></li>
    <li><a href="https://steve0greatness.itch.io/">Itch.io</a>(often inactive)</li>
    <li><a href="https://www.unrealsoftware.de/profile.php?userid=201177">Unreal Software</a>(often inactive)</li>
    <li><a href="https://content.minetest.net/users/Steve0Greatness/">Minetest ContentDB</a>(often inactive)</li>
    <li><a href="https://www.moddb.com/members/steve0greatness">ModDB</a>(often inactive)</li>
    <li><a href="https://www.indiedb.com/members/steve0greatness">IndieDB</a>(often inactive)</li>
    <li><a href="https://www.gog.com/u/Steve0Greatness">GOG</a>(often inactive)</li>
    <li><a href="https://www.chess.com/member/steve0greatness/">Chess.com</a>(often inactive)</li>
    <li><a href="https://www.steamgriddb.com/profile/76561199326051000/">SteamGridDB</a>(often inactive)</li>
    <li><a href="https://www.kongregate.com/accounts/steve0greatness/">Kongregate</a>(often inactive)</li>
    <li><a href="https://store.epicgames.com/en-US/u/8a4680d7cb1a409c887ff2fea77ccdb4">Epic Games Store</a>(often inactive)</li>
    <li><a href="https://gamejolt.com/@Steve0Greatness">Gamejolt</a>(often inactive)</li>
    <li><a href="https://www.roblox.com/users/3241388107/profile">Roblox</a>(often inactive)</li>
    <li><a href="https://gamebanana.com/members/2809649">GameBanana</a>(often inactive)</li>
</ul>
<h2 id="wikis">Wikis</h2>
<ul>
    <li><a href="https://developer.valvesoftware.com/wiki/Main_Page">Valve Developer Community</a></li>
    <li><a href="https://en.wikipedia.org/wiki/User:Steve0Greatness">English Wikipedia</a>(often inactive)</li>
    <li><a href="https://wiki.teamfortress.com/wiki/Main_Page/">Team Fortress wiki</a>(often inactive)</li>
    <li><a href="http://www.wikidot.com/user:info/steve0greatness">Wikidot</a>(often inactive)</li>
    <li><a href="https://satisfactory.wiki.gg/wiki/User:Steve0Greatness">Satisfactory wiki</a>(often inactive)</li>
    <li><a href="https://en.scratch-wiki.info/wiki/Scratch_Wiki_Home">Scratch Wiki</a>(often inactive)</li>
    <li><a href="https://minecraft.wiki/w/User:Steve-Zero-Greatness">Minecraft wiki</a>(often inactive)</li>
    <li><a href="https://community.fandom.com/wiki/User:Steve0Greatness">Fandom</a></li>
    <li><a href="https://www.mediawiki.org/wiki/User:Steve0Greatness">MediaWiki</a>(often inactive)</li>
    <li><a href="https://libregamewiki.org/Main_Page">libreGameWiki</a>(often inactive)</li>
    <li><a href="https://wiki.meower.org/wiki/User:Steve-Zero-Greatness">Meower wiki</a>(often inactive)</li>
</ul>
<h2 id="forums">Forums</h2>
<ul>
    <li><a href="https://www.doomworld.com/profile/35107-steve0greatness/">Doomworld</a>(often inactive)</li>
    <li><a href="https://forum.kglw.net/u/steve0greatness/activity/">KGLW.net Forum</a>(often inactive)</li>
    <li><a href="https://www.thecodingforums.com/members/steve0greatness.87042/">Coding Forums</a>(often inactive)</li>
</ul>
<h2 id="link-aggregators">Instant Messaging</h2>
<ul>
    <li><a href="https://discord.com/users/952370060914225264">Discord</a></li>
    <li><a href="https://matrix.to/#/@steve0greatness:matrix.org">Matrix</a></li>
    <li><a href="https://app.meower.org/users/Steve0Greatness">Meower</a>(often inactive)</li>
</ul>
<h2 id="link-aggregators">Link Aggregators</h2>
<ul>
    <li><a href="https://lemmy.world/u/Steve0Greatness">Lemmy</a></li>
    <li><a href="https://old.reddit.com/user/Steve0Greatness/">Reddit</a>(often inactive)</li>
</ul>
<h2 id="misc">Miscellaneous</h2>
<ul>
    <li><a href="https://kglw.net/~Steve0Greatness">KGLW.net</a>(often inactive)</li>
    <li><a href="https://replit.com/@StevesGreatness">Replit</a>(often inactive)</li>
    <li><a href="https://humanbenchmark.com/users/6510a80625961d0008f4d6d0/">HumanBenchmark</a>(often inactive)</li>
    <li><a href="https://internetometer.com/give/47937/">Internetometer</a>(often inactive)</li>
    <li><a href="https://archive.org/details/@steve_apos_s_greatness">Internet Archive</a>(often inactive)</li>
    <li><a href="https://openlibrary.org/people/steve_apos_s_greatness">Open Library</a>(often inactive)</li>
    <li><a href="https://www.speedrun.com/users/Steve0Greatness">Speedrun</a>(often inactive)</li>
    <li><a href="https://www.tierlists.com/user/steve0greatness">TierLists.com</a>(often inactive)</li>
</ul>
{% endblock %}