{% extends "_layout.html" %}
{% block Head %}
{{super()}}
<link rel="stylesheet" href="/src/code-blocks.css" />
<meta property="og:title" content="{{Title}}" />
<meta property="og:url" content="https://steve0greatness.github.io//ist/{{Location}}" />
{% endblock %}
{% block title %}{{Title}}{% endblock %}
{% from "_macros.html" import GenerateBreadcrumbs %}
{% block breadcrumbs %}{{ GenerateBreadcrumbs([{ "href": "/list", "title": "List Index" }, { "href": "/list/" + Location, "title": Title }]) }}{% endblock %}
{% block content %}
<h1>{{Title}}</h1>
{{ Content }}
{% endblock %}