{% extends "_layout.html" %}
{% block Head %}
{{super()}}
<meta property="og:type" content="website" />
<meta property="og:title" content="{{Title}}" />
<meta property="og:url" content="https://steve0greatness.nekoweb.org/{{Location}}" />
{% endblock %}
{% block title %}{{Title}}{% endblock %}
{% from "_macros.html" import GenerateBreadcrumbs %}
{% block breadcrumbs %}{{ GenerateBreadcrumbs([{ "href": "/list", "title": "List Index" }, { "href": Location, "title": Title }]) }}{% endblock %}
{% block content %}
<h1>{{Title}}</h1>
{{ Content }}
{% endblock %}
